@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* @layer base {
  html {
      font-family: Dosis, sans-serif;
  }
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: Dosis, sans-serif,  Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }

  
}
