@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700&display=swap');
.imgLogo {
  margin-top: 100px,

}

.subtitulo{
  font-size: 24px;
  font-weight: 600;
  margin-top: 3rem;
  margin-left: 3rem;
}
.nameAsesor{
  font-size: 14px;
  font-weight: 600;
  margin-top: 3rem;
  /* margin-left: 45rem; */

}

.list {
  padding-right: 10px;
  color: white;
  font-size: 12px;

}
